{% extends '@HomeBuh/layout.html.twig' %}
{% block content_block %}
    {% import "@HomeBuh/formElements.html.twig" as forms %}
    {% if err %}
        <div>{{ err.messageKey|trans(err.messageData, 'security') }}</div>
    {% endif %}

    {{ forms.my_form_begin(form) }}
    <div class = "tableView">
    {{ forms.my_form_row(form.username, last_username) }}
    {{ forms.my_form_row(form.password) }}

    {{ forms.my_form_submit_btn(form.login) }}
    </div>
    {{ forms.my_form_end(form) }}
{% endblock %}