{% extends '@HomeBuh/layout.html.twig' %}
{% block content_block %}

    {% if err %}
        <div>{{ err.messageKey|trans(err.messageData, 'security') }}</div>
    {% endif %}

    {{ form_start(form) }}

    <div class = "tableView">
        <div class = "rowView">
            <div class = "cellView">
                {{ form_label(form.username) }}
            </div>
            <div class = "cellView">
                {{ form_widget(form.username, {'attr': {'value': last_username }}) }}
            </div>
        </div>
        <div class = "rowView">
            <div class = "cellView">
                {{ form_label(form.password) }}
            </div>
            <div class = "cellView">
                {{ form_widget(form.password) }}
            </div>
        </div>
        <div class = "lastRowView">
            {{ form_widget(form.login) }}
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}

{% block js_after_block %}
    {#<script !src="">#}
        {#$('#{{ form.login.vars['id'] }}').click(function() {#}

        {#});#}
    {#</script>#}
{% endblock %}