{% import "@HomeBuh/formElements.html.twig" as forms %}

{{ forms.my_form_begin(form) }}
<div class = "tableView">
    {{ forms.my_form_row(form.date) }}
    {{ forms.my_form_row(form.category) }}
    {{ forms.my_form_row(form.summa) }}
    {{ forms.my_form_row(form.comment) }}
    {{ forms.my_form_row(form.type) }}

    {{ forms.my_form_submit_btn(form.add) }}
</div>
{{ forms.my_form_end(form) }}

<script !src="">
    function initElements() {
        var now = new Date();
        $('#add_expense_sum_date').val(now.myFormat());
    }
    $( window ).on( "load", function() {
        initElements();
    });
</script>