{% import "@HomeBuh/formElements.html.twig" as forms %}

{{ forms.my_form_begin(form) }}
<div class = "tableView">
    {{ forms.my_form_row(form.oldPass) }}
    {{ forms.my_form_row(form.newPass) }}
    {{ forms.my_form_row(form.newPass2) }}
    {{ forms.my_form_submit_btn(form.change) }}
</div>
{{ forms.my_form_end(form) }}

<script !src="">
    function initElements() {
        
    }
</script>
